/Teste.Autenticacao/API/bin
/Teste.Autenticacao/API/obj
/Teste.Autenticacao/DTO/bin
/Teste.Autenticacao/DTO/obj
/Teste.Autenticacao/BLL/obj
/Teste.Autenticacao/BLL/bin
/Teste.Autenticacao/PROG/bin
/Teste.Autenticacao/PROG/obj